<div class="container">
  <div class="left"><img src="/assets/img/home-image.png" /></div>

  <div class="right">
    <div class="header">
      <h1>PROJETO C.L.E.E</h1>
      <h2>Centro de Locação de Equipamentos Escolares</h2>
    </div>
    <div class="text">
      <P>
        Um site desenvolvido pela turma de informática 2021 - 2023. Tendo o
        intuito de promover facilidade na logística de reservas realizadas por
        professores da escola EEEP Joaquim Nogueira, de acordo com a
        disponibilidades de equipamentos e ambientes disponíveis
      </P>
    </div>
  </div>
</div>
