header{
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  height: 90px;
  background-color: #615CF2;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
}

.logo{
  width: 90px;
  height: 90px;
}

.logo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* NAV BAR */

.nav-list{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-item{
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  padding: 3px 30px;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-item:hover {
  color: #6B71F2;
}

.nav-item:hover .dropdown{
  display: block;
  animation: dropdown .5s;
}

/* animation dropdown */

@keyframes dropdown {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


.nav-item .dropdown{
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  color: #232323;
  max-width: 300px;
  width: 300px;
  z-index: 999;
  background-color: #8c52ff;
  padding: 0;
}

.nav-item .dropdown ul{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-item .dropdown li{
  cursor: pointer;
  padding: 20px;
  font-size: 1rem;
  width: 100%;
  color: #fff;
  margin: 0;
}

.nav-item .dropdown li:hover{
  background-color: #6b40c2;
}

.list-item::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #8c52ff;
  transition: .4s;
}

.list-item:hover::after{
  width: 100%;
  left: 0;
}


/* MEDIA QUERIES */

@media (max-width: 480px) {

  header{
    height: 70px;
  }

  .logo{
    width: 40px;
    height: 40px;
  }

}

