<link rel="stylesheet" href="style.css">
<nav style="background-color: rgb(195, 0, 255); display:flex; flex-direction:row; align-items:center">
    <h1 style="margin-left: 10px;">CLEE</h1>
    <ul style="display:flex; flex-direction: row; width:200px; text-decoration:none; margin-left: 1000px">
        <LI style="padding-right: 30px;"><a href="/adm/login">Login</a></LI>
        <li style="padding-right: 30px;">sobre</li>
        <li style="padding-right: 30px;">locações</li>
    </ul>
</nav>