 <style>

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
         input,
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23333"><path d="M7 10l5 5 5-5z" /></svg>');
            background-repeat: no-repeat;
            background-position: right 8px top 50%;
            padding-right: 30px;
        }

        button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

          h3 {
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }

    </style>
<h3>Cadastro de Salas</h3>

<form action="/salas/update" method="post">
        <label for="nome">Nome:</label>
        <input type="hidden" value="{{salass._id}}" name="id">
        <input type="text" id="nome" name="nome" value="{{salass.nome}}">

        <label for="status">Status:</label>
        {{#if (eq salass.status 'A')}}
        <select name="status" id="status">
            <option value="A">Ativo</option>
            <option value="I">Inativo</option>
            <option value="0">Selecione</option>
            
        </select>

        {{else}}

         <select name="status" id="status">
            <option value="I">Inativo</option>
            <option value="A">Ativo</option>
            <option value="0">Selecione</option>
        </select>
       {{/if}}
        <button type="submit">Enviar</button>
        {{#each erros}}
        <div>
          {{texto}}
        </div>
        {{/each}}
    </form>

 