<style>
        table {
            border-collapse: collapse;
            margin-bottom: 20px;
            font-family: Arial, sans-serif;
            display: flex;
            text-align: center;
            justify-content: center;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    /* Estilos para o botão de atualização */
    .update-button {
      background-color: #4CAF50; /* Verde */
      color: white;
      border: 2px solid #4CAF50;
    }

    .update-button:hover {
      background-color: white;
      color: #4CAF50;
    }

    /* Estilos para o botão de exclusão */
    .delete-button {
      background-color: #f44336; /* Vermelho */
      color: white;
      border: 2px solid #f44336;
    }

    .delete-button:hover {
      background-color: white;
      color: #f44336;
    }
    </style>
    {{#if salass}}
    <table>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Status</th>
        </tr>
        {{#each salass}}
                <tr>
                    <td>{{codigo}}</td>
                    <td>{{nome}}</td>
                    <td>
                        {{#if (eq status 'D')}}
                        Deletado
                        {{else}}
                        Erro interno,por favor consultar o suporte.
                        {{/if}}

                    </td>
                </tr>
        {{/each}}
    </table>
{{else}}
   <h1>Nenhuma sala registrada.</h1>
{{/if}}
