<div class="insert_equip">
<form action="/adm/choice/New_Equipamento" method="post">
    <label for="nome">Nome do equipamento</label>
    <input type="text" name="nome" id="nome" placeholder="nome">

    <label for="qnt">Quantidade a ser cadastrada: </label>
    <input type="number" name="qnt_equip" id="qnt_equip">
    <button type="submit" id="btn" class="btn">Criar produto</button>
</form>
</div>
<style>
    .insert_equip{
        margin: 0 auto;
        padding: 1em;
        margin-left: 300px;
        width: 30vw;
        height: 60vh;
    }
    form{
        display: flex;
        width: 30vw;
        height: 60vh;
        flex-direction: column;
        gap: 5px;
    }
    form > input, select, button{
        width: 80px;
    }
    select{
        width: 88px;
    }
    .btn{
        width: 100px;
        margin-top: 20px;
    }
</style>