<section>
<a href="/equip/login/choice/add_equip"><button id="btn" type="submit">novo equipamento</button></a>
<a href="/add_equip"><button id="btn" type="submit">nova sala</button></a>
</section>
<style>
    #btn{
        padding: 12px;
        background-color: rgb(114, 219, 114);
        border: none;
        margin: 15px;
        width: 140px;
    }
    section{
        border: 1px solid black;
        width: 350px;
        margin: 12px;
        display: flex;
    }
</style>