<form action="/login" method="post"> 
    <div class="container">
        <h1 class="log">Login</h1>
        <label for="nome">Usuário: </label>
        <input type="text" class="nome" id="nome">
        <br>
        <label for="senha">Senha: </label>
        <input type="password" class="senha" id="senha">
      <button type="submit">Logar</button>    
    </div>
</form>
<style>
    .container{
        padding: 40px;
        border: 1px solid black;
        background-color: rgb(133, 133, 231);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        margin: 0 auto;
        margin-top: 60px;
        height: 40vh;
        border-radius: 8px;
    }
    .log{
        border-bottom: 1px solid black;
        margin: 8px;
        text-align: center;
        width: 130px; 
        margin-top: 10px;
    }
</style>