<div class="container">
    <header>
        <div class="check-field">
            <h3>O que você quer reservar?</h3>
            <div class="radios">
                <label for="sala">
                    <input type="radio" name="option_reserve" id="sala" (click)="formSala()">
                    <span>Sala</span>
                </label>
                <label for="equipamento">
                    <input type="radio" name="o+ption_reserve" id="equipamento" (click)="formEquipamentos()">
                    <span>Equipamento</span>
                </label>
            </div>
        </div>
    </header>

    <main>
        <div class="reservation-form" *ngIf="showSala || showEquipamentos">
          <!--  RESERVA DAS SALAS -->
          <ng-container *ngIf="showSala">
            <form (ngSubmit)="createReserveRoom()" [formGroup]="reservaRoomForm" class="form-container">
              <div class="form-content" id="formSala">
                <div class="input-field">
                  <label for="nomeSala">Codigo da Sala</label>
                  <input type="number" id="nomeSala" formControlName="cod_sala" required>
                </div>
                <div class="input-field">
                  <label for="nomeSala">Quem está reservando:</label>
                  <input type="text" id="nomeSala" formControlName="cod_user" required>
                </div>
                <div class="input-field">
                  <label for="diaReserva">Selecione o dia da reserva</label>
                  <input type="text" id="diaReserva" formControlName="date_reserv" (input)="formatarData($event,'date_reserv')" required>

                </div>
                <!-- QUANDO ELE SELECIONAR A DATA -->
                <div class="input-field" >
                  <label for="horarioReserva">Selecione o horário da reserva</label>
                  <input type="text" id="horarioReserva" formControlName="hora_reserva" (input)="formatarHora($event, 'hora_reserva')" required>
                </div>

                <div class="input-field">
                  <label for="diaEntrega">Selecione o dia da entrega</label>
                  <input type="text" id="diaEntrega" formControlName="date_entrega" (input)="formatarData($event,'date_entrega')" required="">
                  <div class="input-field" >
                    <label for="horarioEntrega">Selecione o horário de entrega</label>
                    <input type="text" id="horarioEntrega" formControlName="hora_entrega" (input)="formatarHora($event, 'hora_entrega')" required>
                  </div>
                </div>
                <div class="input-field textarea-field">
                  <label for="motivoReserva">Motivo da reserva</label>
                  <textarea id="motivoReserva" formControlName="desc" cols="30" rows="7 " required=""></textarea>
                </div>
              </div>
              <button type="submit" id="concluirReserva" class="btn">Concluir Reserva</button>
            </form>
            <div class="overlay" [ngClass]="{'active': this.popupService.messagePopup}">
              <div class="popup">
                <div class="icon" [ngClass]="{'error': errorCad, 'success': success}">
                  <i class="fa-solid" [ngClass]="{'fa-xmark': errorCad, 'error': errorCad, 'fa-check': success, 'success': success}"></i>
                </div>
                <p>{{this.popupService.messagePopup}}</p>
                <button (click)="this.popupService.clear()">Fechar</button>
              </div>
            </div>
          </ng-container>

        <!-- RESERVA DOS EQUIPAMENTOS -->
        <ng-container *ngIf="showEquipamentos" class="container_equipamentos">
          <form (ngSubmit)="createReserveEquipamento()"[formGroup]="reservaEquipamentoForm" class="form-container" >
            <div class="field-equipamento-date">
              <label for="cod_equip">Codigo do Equipamento</label>
              <input type="number" name="cod_equip" formControlName="cod_equip">
            </div>
            <div class="field-equipamento-date">
              <label for="qnt_equip">Quantidade</label>
              <input type="number" name="qnt_equip" formControlName="qnt_equip">
            </div>
            <div class="field-equipamento-date">
              <label for="cod_user">Quem quer reservar?</label>
              <input type="number" name="cod_user" formControlName="cod_user">
            </div>
            <div class="field-equipamento-date">
              <label for="date_reserva">Data de Reserva</label>
              <input type="text" name="date_reserva" formControlName="date_reserva" (input)="formatarData($event,'date_reserva')">
            </div>
            <div class="field-equipamento-date">
              <label for="hora_reserva">Horario da reserva</label>
              <input type="text" name="hora_reserva" formControlName="hora_reserva" (input)="formatarHora($event, 'hora_reserva')">
            </div>
            <div class="field-equipamento-date">
              <label for="date_entrega">Data de Entrega</label>
              <input type="text" name="date_entrega" formControlName="date_entrega" (input)="formatarData($event,'date_entrega')">
            </div>
            <div class="field-equipamento-date">
              <label for="hora_entrega">Horário de Entrega</label>
              <input type="text" name="hora_entrega" formControlName="hora_entrega" (input)="formatarHora($event, 'hora_entrega')">
            </div>
            <div class="field-equipamento-date">
              <label for="desc">Motivo da Reserva</label>
              <textarea name="desc" formControlName="desc" cols="5" rows="10"></textarea>
            </div>
            <br>
            <div class="btns">
              <button type="submit" id="concluirReserva" class="btn">Concluir Reserva</button>
            </div>
          </form>
        </ng-container>
        </div>
    </main>
</div>

<div class="overlay" [ngClass]="{'active': this.popupService.messagePopup}">
  <div class="popup">
    <div class="icon" [ngClass]="{'error': errorCad, 'success': success}">
      <i class="fa-solid" [ngClass]="{'fa-xmark': errorCad, 'error': errorCad, 'fa-check': success, 'success': success}"></i>
    </div>
    <p>{{this.popupService.messagePopup}}</p>
    <button (click)="this.popupService.clear()">Fechar</button>
  </div>
</div>
