main{
  margin-top: 100px;
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* AÇÕES DO USUÁRIO */

.action-cards{
  max-width: 100%;
  width: 90%;
  border: 1px solid #8c52ff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 72px 50px;
}

.action-cards .card{
  width: 100%;
  height: 150px;

  flex: 0 0 calc(100% - 30px);
  min-width: calc(33% - 30px);
  max-width: calc(33.33% - 30px);
  border: .5px solid #1f1f1f59;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.action-cards .card *{
  transition: .4s ease-in-out;
}

.action-cards .card:hover{
  scale: 1.1;
}

.action-cards .card:hover .icon, .action-cards .card:hover .text-card{
  scale: 1.1;
}

.card .icon{
  background-color: #8c52ff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
}

.card .text-card{
  font-weight: 600;
  color: #8c52ff;
}


/* MEDIA QUERIES */

@media (max-width: 1100px) {
  .action-cards .card {
    min-width: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }

  .action-cards .card .icon {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 800px){

  main{
    padding: 25px;
  }

  .action-cards{
    width: 90%;
    padding: 25px;
  }

  .action-cards .card {
    min-width: calc(40% - 10px);
    max-width: calc(40% - 10px);
  }

  .card .text-card{
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .action-cards .card {
    min-width: calc(50% - 30px);
    max-width: calc(50% - 30px);
  }

  .action-cards {
    padding: 50px; /* Ajuste de espaçamento interno para telas menores */
  }
}

@media (max-width: 480px) {

  main{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .action-cards{
    width: 100%;
    padding: 20px;
  }
  .action-cards .card {
    min-width: calc(75% - 20px);
    max-width: calc(75% - 20px);
    padding: 20px; /* Ajuste de espaçamento interno para telas ainda menores */
  }
}
