main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .container {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px 40px 30px;
    box-shadow: 0 1px 5px #00000067;
    position: relative;
    background-color: #fff;
    border-radius: 20px;
  }

  form{
    width: 70%;
  }

  .header-title{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .header-title i{
    font-size: 1.5em;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7244ce;
    border-radius: 50%;
    padding: 10px;
  }

  .header-title h1{
    color: #7244ce;
  }

  .field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 2rem 0;
  }


  .pass-field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #dfdfdf;
    border-radius: 4px;
    transition: .3s ease-in;
  }

  .field .pass-field input{
    width: calc(100% - 40px);
    border: 1.5px solid transparent;
  }

  .field .pass-field input:focus{
    outline: none;
  }

  .field .pass-field:focus-within{
    border: 1.5px solid #8c52ff;
  }

  .pass-field .showIcon{
    cursor: pointer;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .field label{
    font-weight: bold;
    color: #232323;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .field input{
    height: 40px;
    padding: 0 10px;
    font-size: 1rem;
    border-style: solid;
    transition: .3s;
    border: 1.5px solid #dfdfdf;
    border-radius: 4px;
    outline: none;
    transition: .3s ease-in;
  }

  .field input:focus{
    border: 1.5px solid #8c52ff;
  }

  .error-message{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .error-message span{
    margin: 0;
    text-transform: capitalize;
    color: red;
    font-size: .9rem;
    position: absolute;
    top: 0;
  }

  .error{
    border: 1px solid red;
  }

  .error::placeholder{
    color: red;
  }

  .checkbox{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .checkbox label{
    margin: 0;
  }

  .forgot-password a{
    color: rgb(0, 119, 255);
  }

  .forgot-password a:hover{
    text-decoration: underline;
  }

  .checkbox input{
    accent-color: rgb(91,0,218);
  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
  }

  .btn-submit{
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #8c52ff;
    border: none;
    border-radius: 8px;
    color: #fff;
    transition: .4s ease-in-out;
  }
  .btn-submit:hover{
  background-color: #7244ce;
  }
  .help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    font-size: 1.2rem;
    margin: 1.5rem 0;
  }

  .header-help{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin: 16px 0;
  }

  .header-help span{
    font-size: .9rem;
    font-weight: bold;
    color: #818181a8;
  }

  .line{
    width: 120px;
    height: 1px;
    background-color: #81818181;
  }

  .help button{
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: transparent;
    letter-spacing: 2px;
    color: #7244ce;
    border: 2px solid #7244ce;
    border-radius: 4px;
    transition: .3s ease-in-out;
    cursor: pointer;
  }

  .help button:hover{
    background-color: #7244ce;
    color: #fff;
  }
  .detail{
    display: none;
  }

  .icon-out{
    position: absolute;
    left: 30px;
    top: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 50%;
  }

  .icon-out:hover{
    background-color: rgba(224, 224, 224, 0.548);
  }


