  /* RESPONSIVIDADE */
  
  @media (max-width: 670px){
    .container{
      width: 450px;
    }
  
    .container h1{
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 520px){
    .container{
      width: 100%;
      box-shadow: none;
      position: absolute;
      top: 0;
      height: 100vh;
      padding: 10px;
    }
    .container .header-title{
      display: none;
    }
    .detail{
        display: inline;
    }
  
    .header-help{
        display: none;
    }
    .help{
      width: 70%;
      font-size: .9rem;
      flex-direction: column;
      align-items: center;
      margin-top: 380px;
    }
  
  }