<section class="container">
  <div class="header-title">
    <h2>Filtrar por:</h2>
  </div>
  <div class="filter">
    <div class="filter-options">
      <!-- Adicione opções de filtro aqui (ex: datas, salas, equipamentos) -->
      <div class="filter-option">
        <label for="date">Data: </label>
        <input type="date" id="date" name="date" />
      </div>

      <div class="select-wrapper">
        <label for="room">Salas ou equipamentos:</label>
        <select id="room" name="room" [(ngModel)]="selectedRoom" (click)="ShowAngle()">
          <option value="all">Selecionar</option>
          <option value="room1">Salas</option>
          <option value="room2">Equipamentos</option>
        </select>
        <i *ngIf="!angle" class="fas fa-angle-down select-arrow"></i>
        <i *ngIf="angle" class="fas fa-angle-up select-arrow"></i>
      </div>
      <div class="search">
        <label for="pesquisar">Pesquise aqui:</label>
        <input type="search" class="input-search" id="pesquisar" />
      </div>
    </div>
  </div>

  <i class="linha"></i>
</section>
<div class="reserves-list">
  <div class="card" *ngFor="let sala of filteredSalas.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
    <div class="card-body">
      <h5 class="card-title">{{ sala.cod_sala }}</h5>
      <p class="">Quem reservou: {{ sala.cod_user }}</p>
      <p class="card-text">Descrição: {{ sala.desc }}</p>
      <a routerLink="#" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>
<div class="reserves-list">
  <div class="card" *ngFor="let sala of filteredEquipamentos.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
    <div class="card-body">
      <h5 class="card-title">{{ sala.cod_equip }}</h5>
      <p class="">Quem reservou: {{ sala.cod_user }}</p>
      <p class="card-text">Descrição: {{ sala.desc }}</p>
      <a routerLink="#" class="btn btn-primary">Visualizar</a>
    </div>
  </div>
</div>

<div class="paginator">
  <ul class="pagination">
    <li class="page-item" *ngIf="currentPage > 1" (click)="previousPage()"><a class="page-link">Previous</a></li>
    <li class="page-item" *ngFor="let page of pages" [class.active]="page === currentPage" (click)="setPage(page)"><a class="page-link">{{ page }}</a></li>
    <li class="page-item" *ngIf="currentPage < totalPages" (click)="nextPage()"><a class="page-link">Próximo</a></li>
  </ul>
</div>
