<section class="container">
  <div class="filter">
    <div class="header-title">
      <h1>Filtrar por</h1>
      <i class="linha"></i>
    </div>
    <div class="lists">
      <label for="salas">Lista de salas</label>
      <input type="radio" class="radio" name="lista" id="salas" />
      <label for="equip">Lista de equipamentos</label>
      <input type="radio" class="radio" name="lista" id="equip" />
    </div>
    <div class="options"></div>
    <div class="buttons">
      <button type="button" class="btn-aply">Aplicar</button>
      <button type="button" class="btn-cancel">Cancelar</button>
    </div>
  </div>
</section>
